body {
    margin: 0;
    height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 197, 225);
}

.caneta{
    position: absolute;
    z-index: 10;
    width: 5%;
    height: auto;
    object-fit: cover;
}
header {                                                                     
    background-color: #FEE9F0;
    width: 90%;
    height: 300px;
    align-items: center;
    margin-top: 3%;
    display: flex;
    gap: 20%;
    padding: 5%;
    
}


main {
    background-color: blueviolet;
    width: 90%;
    height: 800px;
    flex-direction: column;
    align-items: center;
    display: flex;

}

footer {
    background-color: rgb(219, 1, 143);
    width: 90%;
    height: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.botao {
    background-color: #FEC5D4;
    border-radius: 25% 25% 25% 25%;
    box-shadow: 10px 50px 50% #693845;
    padding: 20px;
    
 
    
}

.meangirl h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E37590;
    font-size: 20px;
    
}



.meangirl {
    background-color: #FEE9F0;
    align-items: center;
    width: 400px;
    height: 22vh;
    display: flex;
    justify-content: end;
    align-items: end;
   
    
}

.titulo {
    background-color: #FEE9F0;
    align-items: center;
    width: 400px;
    height: 300px;
    display: flex;
    position: relative;
   
}

.vip{
    position: absolute;
    z-index: 1;
   
    
}

.quadrado {
    background-color: #FEE9F0;
    align-items: center;
    width: 400px;
    height: 22vh;
    display: flex;
   
}

.conteiner1 {
    background-color: rgb(195, 64, 160);
    width: 40%;
    height: 250px;
    margin: 20px;

}

.conteiner2 {
    background-color: rgb(255, 0, 187);
    width: 25%;
    height: 250px;
    margin: 20px;
}

.conteiner3 {
    background-color: rgb(255, 0, 187);
    width: 25%;
    height: 250px;
    margin: 20px;
}

.rodape {
    background-color: rgb(85, 182, 255);
    width: 30%;
    height: 70px;

}
